@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('../../../styles.css');

:root{
    --roxo: #A805F5;
    --ciano: #05F581;
    --amarelo-laranja: #F5A406;
    --amarelo-escuro: #A07D38;
    --roxo-escuro: #633D75;
    --ciano-escuro: #0B6B4F;
    --cianinho-escuro: #3D755A; 
}

body{
    color: white;
    background-color: var(--ciano-escuro);
    font-size: 17px;
    
}

.div_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.stilization_container_up{
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    height: 28%;
}

.stilization_container_down{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 28%;
}

.main_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 40%;
    background-color: var(--roxo);
    border: white solid 4px;
    border-radius: 8px;
}

.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    gap: 20px;
}

.labels_inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    border: none;
    border-radius: 8px;
    height: 5vh;
    width: 50vh;
}

/* .stilization{
    border: darkblue solid 8px;
    width: 10%;
    height: 40%;
} */

.btn_subbmit{
    background-color: var(--cianinho-escuro);
    border: var(--ciano) solid 2px;
    border-radius: 12px;
    color: white;
    width: 85%;
    height: 15%;
}