<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Dashboard Taks</title>
  </head>
  <body>
    <header>
      <nav>
        <div>
            <img src="../../../../public/Logo_img.png" alt="Logo">
        </div>
        <div class="nav_infos">
          <div class="divTitle">
              <h3>Olá, {{ name }}</h3>
          </div>
          <div class="divTitle">
              <h3>Hoje é: {{ currentDate }}</h3>
          </div>
        </div>

        <div class="nav_buttons">
          <button id="btnLogout"><i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
      </nav>
    </header>

    <!-- Nesta div, estará quase todo o site -->
    <div class="main_container">

      <!-- esta div represntará a barra lateral do site, conetndo todas as tarefas -->
      <div id="sideBar">

        <div *ngIf="loading === true" class="loader">
          <p>Carregando tarefas...</p>
        </div>

        <div class="container_tasks" *ngIf="loading === false && tasks.length > 0">
          <div class="task" id="task{{t.id}}" *ngFor= "let t of tasks">
            <div class="title">

              <h4>{{ t.name }}</h4>

              <div class="btns_tasks">
                <button class="btn_aux">
                  <i class="fa-solid fa-pencil"></i>
                </button>
    
                <button class="btn_aux">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>

            </div>

            <div class="tasks_info">
              <p *ngIf="editMode === false">{{ t.description }}</p>
              <textarea *ngIf="editMode === true" name="" id="">{{ t.editDescription }}</textarea>
            </div>
            <span [class]="'status-' + t.status">{{ t.status }}</span>
          </div>
        </div>
        <p *ngIf="loading === false && tasks.length === 0">Nenhuma tarefa encontrada. Adicione algumas para vê-las aqui!</p>

      </div>

      <!-- aqui, se localiza a barra de pesquisa do site, onde se pode verificar uma tarefa -->

      <div class="search_bar_div">
        <input [formControl]="searchControl" id="searchBar" type="text" placeholder="Encontre uma tarefa..." id="searchBar">
        <div class="suggestion_search">
          <div *ngIf="suggestons.length > 0" class="suggestions">
            <ul>
              <li *ngFor="let s of suggestons" (click)="selectSuggestion(suggestons)">{{ s.name }}</li>
            </ul>
          </div>

        </div>
        <button id="btnSerach"><i class="fa-solid fa-magnifying-glass"></i></button>

      </div>

      <!-- Esta div conterá todo o lado direito da aplicação, de forma a deixar o meio livre -->

      <div class="rightSide">
        <!-- Esta div conterá as tarefas especiais -->
         <div id="specialTasks">
              <h5>Tarefas Especiais</h5>
              <div id="specialTasksContainer">
                <div class="container_tasks" *ngIf="!loading">

                  <div class="specialTask" id="specialTask{{t.id}}" *ngFor= "let t of specialTasks">
                    <div class="title">

                      <h4>{{ t.name }}</h4>
        
                      <div class="btns_tasks">
                        <button class="btn_aux">
                          <i class="fa-solid fa-pencil"></i>
                        </button>
            
                        <button class="btn_aux">
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </div>
                      </div>
                    <div class="tasks_info">
                      <p>{{t.description}}</p>
                    </div>
                    <span [class]="'status-' + t.status">{{ t.status }}</span>
                  </div>

                </div>

                <p *ngIf="specialTasks.length === 0"> Sem tarefas especiais no momento</p>
              </div>
         </div>

         <!-- Aqui, o botão para inserir uma nova tarefas -->

         <a href="/newTask" id="btnNewTask">
          Nova Tarefa  
          <i class="fa-solid fa-plus"></i>
         </a>

         
         <div id="nextTask">
             <!-- Finalmente, a próxima tarefa do dia! -->
             <div id="nextTask">
                <h5>Próxima tarefa</h5>
                <div id="nextTaskContainer">

                  <div class="nextTask" id="nextTask{{current_id}}" >
                    <h4>{{current_name}}</h4>
                    <p>{{current_description}}</p>
                    <span >{{ current_status }}</span>
                  </div>

                  <p *ngIf="nextTask.length === 0"> Nenhuma tarefa para hoje! Aproveite seu dia :)</p>

                </div>

                <div class="buttons_nextTask">
                    <button id="btnBackTask" (click)="onTaskToggledDown()">
                      <i class="fa-solid fa-angles-left"></i>
                    </button>

                    <button id="btn_concludeTask">Concluir tarefa</button>

                    <button (click)="onTaskToggledUp()" id="btnNextTask">
                      <i class="fa-solid fa-angles-right"></i>
                    </button>

                </div>
             </div>
             <!-- Uma div para guardar os botões de pular tarefa ou conclui-la -->
             <div>

             </div>
        </div>
      </div>
    </div>
  </body>
</html>
