:root{
    --roxo: #A805F5;
    --ciano: #05F581;
    --amarelo-laranja: #F5A406;
    --amarelo-escuro: #A07D38;
    --roxo-escuro: #633D75;
    --ciano-escuro: #0B6B4F;
    --cianinho-escuro: #3D755A;
    --branco: #FFFFFF;
    --branco-escuro: #E0E0E0;
}

body{
    color: white;
    background-color: var(--ciano-escuro);
    font-size: 20px;
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 14vh;
    background-color: var(--roxo);
    border-bottom: white solid 4px;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.nav_infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTitle{
    display: inline-flex;
    font-size: 12px;
}

.tasks_info{
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 16px;
    max-height: 12vh;
}

.search_bar_div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;
    padding: 15px;
    
}

#sideBar{
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 40%;
    height: 82vh;
    background-color: var(--roxo-escuro);
    border-right: white solid 4px;
}

.task, .specialTask{
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: var(--amarelo-laranja);
    border: white solid 2px;
    border-radius: 12px;
    padding: 5px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.overdue_deadline{
    color : red;
    border: red;
}

.dates_container{
    display: flex;
    flex-direction: column;
    align-items: bottom;
    justify-content: space-between;
    width: 70%;
}

.btn_aux{
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    color: var(--branco);
}

.btn_aux:hover{
    color: var(--cianinho-escuro);
    cursor: pointer;
}

.btns_tasks{
    display: flex;
}

.container_tasks{
    width: 100%;
}

#searchBar{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 65%;
    font-size: 18px;
    height: 5vh;
}

.suggestion_search{
    position: absolute;
    top: 100%;
    /* Cola no fundo do input */
    left: 0;
    width: 100%;
    background: white;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 99;
    /* Fica por cima de tudo */
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 80%;
    overflow-y: auto;
    color: teal;
}

.suggestions li {
    padding: 12px 15px;
    transition: background 0.2s;
    color: #333;
    border-top: var(--amarelo-laranja)  solid 1px;
    border-bottom: var(--amarelo-laranja) 1px;
    padding: 10px;
  }
  
  .suggestions li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    color: #633D75; /* Seu roxo */
  }

#searchBar:focus{
    outline: none;
    box-shadow: 0 0 5px var(--cianinho-escuro);
}

#btnSerach{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 5%;
    font-size: 18px;
    height: 5vh;
    background-color: var(--ciano);
    color: white;
    cursor: pointer;
}

.rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-arround;
    width: 40%;
    padding: 5px;
    border-left: white solid 4px;
    background-color: var(--roxo-escuro);
}



#specialTasksContainer{
    display: flex;
    overflow: auto;
}

.main_container{
    display: flex;
}

#specialTasks{
    width: 100%;

}

#specialTasksContainer{
    height: 25vh;
    width: 100%;
    background-color: var(--roxo);
    border-radius: 12px;
    border: var(--amarelo-escuro) solid 2px;
}

#nextTask{
    width: 100%;
}

#nextTaskContainer{
    height: 25vh;
    width: 100%;
    background-color: var(--amarelo-laranja);
    border-radius: 12px;
    border: white solid 2px;
}

#btnNewTask{
    width: 100%;
    background-color: var(--ciano);
    color: white;
    display: flex;
    justify-content: space-between;
    border: white;
    border-radius: 10px;
    padding: 10px;
    height: 2vph;
    font-size: 18px;
    text-decoration: none;
}

.buttons_nextTask{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#btnBackTask, #btnNextTask{
    color: white;
    background-color: transparent;
    border: none;
    
}

#btn_concludeTask{
    color: white;
    background-color: var(--amarelo-escuro);
    border: none;
    border-radius: 10px;
    height: 29px;
    font-family: 'Reboto', sans-serif;
}
